<div class="transaction-form">
  <h2>Aggiungi Task</h2>

  <div class="form-row">
  <input type="text" [(ngModel)]="title" name="title" placeholder="Titolo" />
  <input type="number" [(ngModel)]="amount" name="amount" placeholder="Importo" />
  </div>



  <div class="form-row">
  <select [(ngModel)]="type" name="type">
    <option value="income">Entrata</option>
    <option value="expense">Uscita</option>
  </select>

  <input type="text" [(ngModel)]="category" name="category" placeholder="Categoria"/>
  </div>
  <input type="date" [(ngModel)]="date" name="date"/>

  <button (click)="onSubmit()" )>Aggiungi</button>

</div>
